.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
html,body{
	padding: 0;
	margin: 0;	
}
img{
	width: 100%;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
	float: left;
}
.container{
	width: 1200px;
	margin: 0 auto;
	background: #ededed;
}
.inner-box{
	width: 100%;
	overflow: hidden;
}
.slider{
	position: relative;
	width: 100%;
	padding: 10px 0;
}
.slider .arr{
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -39px;
	width: 41px;
	height: 78px;
	cursor: pointer;
}
.slider .arr-l{
	left: 5px;
	background: url(arr-l.png) no-repeat center center;
}
.slider .arr-r{
	right: 5px;
	background: url(arr-r.png) no-repeat center center;
}
.slider .point-box{
	text-align: center;
	margin: 0 auto;
}
.slider .point-box .point{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: #FFFFFF;
	margin: 0 3px;
	cursor: pointer;
}
.slider .point-box .point.active{
	background: deepskyblue;
}

@media only screen and (max-width: 1200px) {
	.container{
		width: 970px;
	}
}
@media only screen and (max-width: 900px) {
	.container{
		width: 768px;
	}
}
@media only screen and (max-width: 768px) {
	.container{
		width: 100%
	}
}